:root {
  --orange-color: rgb(255, 115, 0);
  --background: rgb(35, 35, 49);
  --dark-background: rgb(59, 59, 71);
  --grey-color: rgb(218, 218, 218);
}
.BestSellers > h2,
.NewArrivals > h2,
.Cleaning > h2,
.PowerTools > h2,
.Instruments > h2 {
  color: var(--background);
  margin-bottom: 2.5%;
}
.BestSellers > h2 > span,
.NewArrivals > h2 > span,
.Cleaning > h2 > span,
.PowerTools > h2 > span,
.Instruments > h2 > span {
  color: var(--orange-color);
}
.BestSellers,
.NewArrivals,
.Cleaning,
.PowerTools,
.Instruments {
  width: 40%;
  margin: auto;
  margin-top: 3%;
}
.DataDiv {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
.DataDiv > div {
  cursor: pointer;
  padding: 8%;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.DataDiv > div:hover {
  width: 103%;
  height: 103%;
}
.DataDiv > div > img {
  float: left;
  width: 100%;
  height: 150px;
  object-fit: contain;
  margin-bottom: 2%;
}
.DataDiv > div > p {
  text-align: justify;
  font-size: small;
  margin-bottom: 3%;
}
