:root {
  --orange-color: rgb(255, 115, 0);
  --background: rgb(35, 35, 49);
  --dark-background: rgb(59, 59, 71);
  --grey-color: rgb(218, 218, 218);
}
.ProductsList {
  width: 40%;
  margin: auto;
  margin-top: 3%;
  padding-bottom: 3%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
.ProductsList > a {
  cursor: pointer;
  padding: 8%;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  color: black;
}
.ProductsList > a:hover {
  width: 103%;
  height: 103%;
}
.ProductsList > a > div > img {
  float: left;
  width: 100%;
  height: 150px;
  object-fit: contain;
  margin-bottom: 10%;
}
.ProductsList > a > div > p {
  text-align: justify;
  font-size: small;
  margin-bottom: 3%;
}
