:root {
  --orange-color: rgb(255, 115, 0);
  --background: rgb(35, 35, 49);
}
.Loading {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(88, 88, 88, 0.482);
}
.Loading > h2 {
  color: white;
  font-size: 2rem;
  opacity: 1;
  animation: loading 1.2s ease-in-out infinite;
}
.Loading > h2 > span {
  color: var(--orange-color);
}
@keyframes loading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
